@page
@model Web.Pages.ProductsModel
@{
    ViewData["Title"] = "Products";
}

<div>
    <div id="product-form"
         hx-get="@Url.Page("Products", "ProductForm")"
         hx-swap="outerHTML"
         hx-target="#product-form">
        <button class="btn btn-primary" type="button" id="form-enable">Add Product</button>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">
                <i class="bi bi-search"></i>
            </span>
        </div>
        <input type="text"
               asp-for="Query"
               id="query"
               hx-get="@Url.Page("Products")"
               hx-target="#results"
               hx-trigger="keyup changed delay:250ms"
               autocomplete="off"
               placeholder="Search"
               class="form-control text-center"
               aria-label="Product Search"
               aria-describedby="search-addon"/>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <caption>List of Products</caption>
            <thead class="thead-dark">
            <tr>
                <th scope="col">Brand</th>
                <th scope="col">Name</th>
                <th scope="col">Amount</th>
                <th scope="col">Location</th>
                <th scope="col">Expiration</th>
                <th scope="col">Perishable</th>
            </tr>
            </thead>
            <tbody id="results">
            @await Html.PartialAsync("Shared/_ProductTableResults")
            </tbody>
        </table>
    </div>
</div>