<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Brand</th>
        <th scope="col">Name</th>
        <th scope="col">Expiration</th>
        <th scope="col">Perishable</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="5">No Products Found</td>
        </tr>
    </tbody>
</table>